TOKEN=TOKEN_BOT
CLIENT_ID=BOT_ID
GUILD_ID=SERVER_ID
MODERATOR_ID=MODERATOR_ID
CREATOR_ID=CREATOR_ID
MEMBERSHIP_ID=MEMBERSHIP_ID
OWNER_ID=OWNER_ID
REMINDER_CHANNEL_ID=REMINDER_CHANNEL_ID
HAPPY_BIRTHDAY_CHANNEL_ID=HAPPY_BIRTHDAY_CHANNEL_ID
MUTE_THRESHOLD=MUTE_THRESHOLD
KICK_THRESHOLD=KICK_THRESHOLD
BAN_THRESHOLD=BAN_THRESHOLD
PENDUDUK_LOKAL_ID = PENDUDUK_LOKAL_ID
PENDATANG_ID = PENDATANG_ID